#mapid {
  height: 91vh;
}

.disableMap {
  display: none !important;
}

.button__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: -0.25rem !important;
  margin-right: -0.25rem !important;
  margin-left: -0.25rem !important;
}

.open {
  margin-left: 262px;
  height: 94vh;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #ddd; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 7px 2px 2px 5px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #020202;
}

.sidenav a:nth-child(n + 1) {
  margin-top: 20px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: -22px;
  right: 7px;
  font-size: 36px;
  margin-left: 50px;
}
